// BS 3
//$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

// BS 4
@import '~bootstrap/dist/css/bootstrap.min.css';


h1 {
  font-size: 28px;
  margin-bottom: 1.3em;
}

.col-form-label, .form-control-label {
  font-weight: 600;
  text-shadow: 1px 0 #bbb;
}

.table-tasks th, .table-tasks td.comments {
  white-space: nowrap;
}