<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Simple task manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/js/app.js') }}"></script>
    {% block headJavascripts %}{% endblock %}
    
</head>
<body class="container m-5">

{% include 'nav.html.twig' %}
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}

{% block bodyBottomJavascripts %}{% endblock %}
</body>
</html>
